// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icono {
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

.row {
  max-width: 100%;
}

.align-middle2 {
  margin-top: 10vh;
}

.invisible-nav {
  margin-top: 58px;
}
